/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
/* Variables */
:root{
    --main-color: #edd4c6;
    --text-color: #121212;
    --container-color: #fdf5f0;
    --bg-color: #fff;
    --text-alter-color: #27282b;
    --poppins-font: 'Poppins', sans-serif;
    --font-family-1: 'Raleway', sans-serif;
    --font-family-2: 'Roboto Slab', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    font-family: var(--font-family-2);
}
body{
    color: var(--text-color);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}
/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-color);
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    padding: 20px 0;
}
.nav-link{
    position: relative;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-color);
    font-family: var(--poppins-font);
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--text-color);
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-link:hover.nav-link::after{
    width: 100%;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);

}
.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div{
    display: block;
    background: var(--text-color);
    height: 3px;
    width: 25px;
    transition: 0.3s;
}
.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line2{
    transform: rotate(-45deg) translate(-5px, 5px);
}
.move .line3{
    transform: rotate(-45deg) translate(-5px, 5px);
}